@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&family=Inter:wght@400;500;600;700;800;900&display=swap');


section {
    background-color: rgb(46, 33, 70);
    border-radius: 20px;
}

h2 {
    font-family: Inter;
    color: white;
    justify-content: center;
    padding-top: 15px;
}

p {
    font-family: Inter;
    color: white;
}

.container {
    margin-left: 25px;
    padding-bottom: 25px;
}

ul {
    list-style: none;
    gap: 40px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}